    <footer id="footer" class="">
        <p class="published border-effect">
          ©2020 共 <%= site.posts.length %> 篇文章
          <br/>
          Theme <a href="https://immmmm.com/gridea-theme-motify/" target="_blank">「<%= themeConfig.themeName %>」</a> Powered by <a href="https://gridea.dev/" target="_blank">「Gridea」</a>
        </p>
    </footer>

    <a id="back_to_top" href="#" class="back_to_top"><span>△</span></a>


<script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/prism.min.js"></script>

<% if ( site.customConfig.jsdelivr == true) { %>
<script src="https://cdn.jsdelivr.net/gh/<%= site.customConfig.username %>/<%= site.customConfig.repository %>/media/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/<%= site.customConfig.username %>/<%= site.customConfig.repository %>/media/js/lately.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/<%= site.customConfig.username %>/<%= site.customConfig.repository %>/media/js/waterfall.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/<%= site.customConfig.username %>/<%= site.customConfig.repository %>/media/js/slimbox2.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/<%= site.customConfig.username %>/<%= site.customConfig.repository %>/media/js/functions.js"></script>
<% } else{ %>
<script src="<%= themeConfig.domain %>/media/js/jquery.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/lately.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/waterfall.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/slimbox2.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/functions.js"></script>
<% }; %>

<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>