<!doctype html>
<html>
  <head>
    <%- include('./includes/head', { siteTitle: `我的朋友们 | ${themeConfig.siteName}` }) %>
  </head>
  <body>
    <!-- start: #wrapper -->
    <header id="header" style="<% if (site.customConfig.headerBgImage) { %>background-image:url(<%= site.customConfig.headerBgImage %>)<% } %>">
        <%- include('./includes/header') %>
    </header>

    <div class="wrapper">
    <div class="content posts post archive hentry">
        <h1>我的朋友们</h1>
        <ul class="archive-list">
            <% if (site.customConfig.friends) { %>
            <% site.customConfig.friends.forEach(function(friend) { %>
            <li class="archive-item links-item">
                <img class="archive-list-image" src="https://gravatar.loli.net/avatar/<%= friend.siteLogo %>"></img>
                <a href="<%= friend.siteLink %>"><%= friend.siteName %></a>
                <span class="archive-item-meta"><% if (friend.description) { %><%= friend.description %><% } else { %><%= friend.siteLink %><% } %></span>
            </li>
            <% }); %>
            <% } %>
        </ul>
        <div class="clear"></div>
    </div>

    <%- include('./includes/footer') %>

    </div>
    <!-- end: #wrapper -->
  </body>
</html>
