<!doctype html>
<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
    <meta name="description" content="<%- themeConfig.siteDescription %>" />
    <% if (pagination.prev) { %>
    <link rel="prefetch" href="<%= pagination.prev %>">
    <% } %>
    <% if (pagination.next) { %>
    <link rel="prefetch" href="<%= pagination.next %>">
    <% } %>
  </head>
  <body>
                
    <!-- start: #wrapper -->
    <header id="header" style="<% if (site.customConfig.headerBgImage) { %>background-image:url(<% if ( site.customConfig.jsdelivr == true) { %>https://cdn.jsdelivr.net/gh/<%= site.customConfig.username %>/<%= site.customConfig.repository %><%= site.customConfig.headerBgImage %><% } else{ %><%= themeConfig.domain %><%= site.customConfig.headerBgImage %><% } %>)<% } %>">
        <%- include('./includes/header') %>
    </header>

    <div class="wrapper index">
        <div class="content">
            <!-- start: .articles -->
            <% posts.forEach(function(post) { %>
                <% if (post.tags[0] && post.tags[0].slug == 'chat') { %>
                        <%- include('./includes/posts-chat', { post: post }) %>
                <% } else{ %>
                    <%- include('./includes/posts-normal', { post: post }) %>
                <% }; %>
            <% }); %>
        </div>

        <%- include('./includes/pagination') %>
        
        <%- include('./includes/footer') %>
    </div>
  </body>
</html>